/* Global style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 5.2rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2.2rem;
}

button {
  outline: none;
  border: 0;
}

nav {
  display: flex;
  min-height: 10vh;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

/* Nav and Hero */
.nav-container {
  background: var(--blue);
}

.nav-logo {
  color: white;
  flex: 1 1 40rem;
  display: flex;
  align-items: center;
  font-family: "Nanum Brush Script", cursive;
}

.nav-logo h1 {
  padding-top: 1rem;
}

.nav-logo-icon {
  height: 5rem;
  width: 5rem;
  margin-right: 4px;
}

.nav-container ul {
  list-style: none;
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-around;
}

.nav-container li {
  margin: 2rem;
  border-bottom: 4px var(--lightblue) solid;
}

.hero {
  display: flex;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: center top;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h2 {
  padding: 2rem;
  font-weight: bold;
}

.hero h3 {
  padding: 2rem;
}

.hero button {
  color: white;
  background: var(--lightblue);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background 1s ease-in-out;
}

.hero button:hover {
  background: var(--blue);
}

@media screen and (max-width: 960px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  html {
    font-size: 40%;
  }

  nav {
    text-align: center;
  }
  nav ul {
    width: 100%;
  }

  .nav-logo {
    justify-content: center;
    padding: 1rem;
  }

  .hero button {
    padding: 2rem 4rem;
    font-size: 3rem;
  }

  li {
    padding: 1rem 2rem;
  }
}

/* Locations styling*/

.locations {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(/img/locations.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.locations-header {
  width: 90%;
  color: white;
}

.locations-header h2 {
  padding: 2rem 0;
}

.locations-header h3 {
  padding: 2rem 0;
}

.locations-body-wrapper {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}

.location-block {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  width: 50vw;
  background-color: violet;
  color: white;
  padding: 1vh 2vw;
  min-height: 50vh;
  max-height: 50vh;
}

.location-block h2 {
  flex: 1;
}

.location-block p {
  flex: 3;
  opacity: 0;
}

.location-block:hover p {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.location-block:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url(/img/st.lucia.jpg);
  background-size: cover;
  background-position: center;
}
.location-block:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent), url(/img/dr.jpg);
  background-size: cover;
  background-position: center;
}
.location-block:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(/img/pr.jpg);
  background-size: cover;
  background-position: center;
}
.location-block:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url(/img/bahamas.jpg);
  background-size: cover;
  background-position: center;
}

.location-block:hover:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url(/img/st.lucia.jpg);
  background-size: cover;
  background-position: center;
}
.location-block:hover:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url(/img/dr.jpg);
  background-size: cover;
  background-position: center;
}
.location-block:hover:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url(/img/pr.jpg);
  background-size: cover;
  background-position: center;
}
.location-block:hover:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url(/img/bahamas.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 960px) {
  .location-block {
    flex: 1 1 100%;
    min-height: 30vh;
    opacity: 1;
  }

  .locations-header h2 h3 {
    text-align: center;
  }
}

/* Package styling*/

.package-body-wrapper {
}

.package-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: var(--blue);
  color: white;
  text-align: center;
}

.package-head h2 {
  padding: 2rem 0;
  margin: 0 2rem;
}

.package-head h3 {
  padding: 1rem 0;
  margin: 0 2rem;
}

.packages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: auto;
  padding: 0 5%;
  background: white;
  flex-wrap: wrap;
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  background: white;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1);
}

.package-title {
  display: flex;
  justify-content: center;
  background: var(--blue);
  padding: 2rem 0;
  width: 100%;
  height: 20%;
}

.package h4 {
  font-size: 3rem;
  padding: 1rem;
}

.package p {
  font-size: 2rem;
  padding: 0rem 1rem;
}

.package img {
  width: 15%;
  height: 15%;
}

/* Contact Styling*/

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url(/img/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-form-wrapper {
  padding-top: 3rem;
  color: white;
  background: rgba(52, 89, 149, 0.9);
  border-radius: 15px;
  min-width: 50vw;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  padding: 2rem 0;
}

@media screen and (max-width: 900px) {
  .contact-form-wrapper {
    min-width: 90vw;
    justify-content: center;
  }
}

.form-row {
  padding: 0rem 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-column {
  display: flex 1 1 20rem;
  flex-wrap: wrap;
  flex-direction: column;
  width: 48%;
}

.form-column input {
  width: 100%;
  height: 4rem;
  border: 0;
}

.form-column select {
  height: 4rem;
  width: 100%;
}

form button {
  width: 100%;
  background: var(--lightblue);
  padding: 2rem;
  margin-top: 5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  transition: background 0.4s ease-in-out;
  cursor: pointer;
}

form button:hover {
  background: rgb(27, 46, 77);
}

@media screen and (max-width: 960px) {
  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form-column {
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background: rgb(27, 46, 77);
  text-align: center;
  color: white;
}

footer p {
  margin: 2rem;
}

.social {
  height: 4rem;
  width: 4rem;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .social {
    height: 6rem;
    width: 6rem;
    margin: 1rem;
  }
}
/* Colors */
:root {
  --lightblue: rgb(85, 193, 255);
  --blue: rgb(52, 89, 149);
  --sand: rgb(245, 255, 144);
}
